<!DOCTYPE html>
<html lang="en">
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<script src="js/bootstrap.min.js" type="application/javascript"></script>

<head>
    <title>error</title>
    <meta charset="UTF-8">

    <div class="jumbotron">
        <h1> 错误 请检查配置</h1>
        <p> 我也不知道发生了什么 </p>
        <p><a class="btn btn-primary btn-lg" href="http://localhost:8084/" role="button">返回首页</a></p>
    </div>

</head>



<body>



</body>


</html>